.carousel-inner img {
    max-height: 50em; 
    object-fit: cover;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */
    padding: 0.6em;
    border-radius: 0.3em;
    display: inline-block; 
}
.carousel-caption h5 {
    color: #fff;
}
body {
    background-color: #f8f9fa; /* Fondo claro */
}
h2, h3 {
    color: #000000; /* Color de los títulos */
    text-align: center; 
    font-family: 'Arial', sans-serif;
    margin-bottom: 1.25em; 
}
h2 {
    font-size: 2.5em;
    font-weight: bold; 
    text-transform: uppercase; 
    border-bottom: 0.18em solid #d9534f; 
    display: inline-block; 
    padding-bottom: 0.6em;
    background-color: #f8f9fa; 
    padding: 0.625em 1.25em;
    border-radius: 0.625em; 
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
}
h3 {
    font-size: 2em; 
    font-weight: bold; 
    text-transform: uppercase; 
    color: #d9534f; 
    background-color: #f8f9fa; 
    padding: 0.625em 1.25em; 
    border-radius: 0.625em; 
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1); 
}
.card {
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
}
.card:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}
.price {
    display: none; 
}
.card:hover .price {
    display: block; 
    font-weight: bold;
    color: #d9534f; 
}
footer {
    background-color: #000000; 
    color: #ffffff; 
    padding: 1.25em 0;
}
footer .list-inline-item a {
    color: #ffffff; 
    text-decoration: none; 
}
footer .list-inline-item a:hover {
    text-decoration: underline; 
}

.navbar-brand {
    display: flex;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap; 
}
.navbar-brand img {
    margin-right: 0.6em; 
}
.navbar-title {
    color: #ffffff; 
    font-size: 1.5em; 
    font-weight: bold; 
    white-space: nowrap;
}
.navbar-nav {
    flex-grow: 0; 
}
.navbar-nav .nav-link {
    color: #ffffff; 
}
.navbar-nav .nav-link:hover {
    color: #d9534f; 
}

header {
    background-color: #212529 !important; 
}
.navbar-toggler {
    border: none;
    outline: none;
}

@media (max-width: 576px) {
    .navbar-title {
        display: block;
        text-align: center; 
        font-size: 1.2em; 
    }

    .navbar-title span {
        display: block; 
    }
}
