.carousel-inner img {
    max-height: 650px; 
    object-fit: cover;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */
    padding: 10px;
    border-radius: 5px;
    display: inline-block; /* Ajusta el fondo al tamaño del contenido */
}
.carousel-caption h5 {
    color: #fff; /* Color del texto */
}
body {
    background-color: #f8f9fa; /* Fondo claro */
}
h2, h3 {
    color: #000000; /* Color de los títulos */
    text-align: center; /* Centrar los títulos */
    font-family: 'Arial', sans-serif; /* Fuente para los títulos */
    margin-bottom: 20px; /* Espacio inferior */
}
h2 {
    font-size: 2.5em; /* Tamaño de fuente para h2 */
    font-weight: bold; /* Negrita para h2 */
    text-transform: uppercase; /* Texto en mayúsculas */
    border-bottom: 3px solid #d9534f; /* Línea inferior */
    display: inline-block; /* Ajustar línea inferior al tamaño del texto */
    padding-bottom: 10px; /* Espacio inferior */
    background-color: #f8f9fa; /* Fondo claro */
    padding: 10px 20px; /* Espacio alrededor del texto */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}
h3 {
    font-size: 2em; /* Tamaño de fuente para h3 */
    font-weight: bold; /* Negrita para h3 */
    text-transform: uppercase; /* Texto en mayúsculas */
    color: #d9534f; /* Color para h3 */
    background-color: #f8f9fa; /* Fondo claro */
    padding: 10px 20px; /* Espacio alrededor del texto */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para las tarjetas */
    transition: transform 0.2s; /* Transición suave para el hover */
}
.card:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}
.price {
    display: none; /* Ocultar el precio por defecto */
}
.card:hover .price {
    display: block; /* Mostrar el precio al pasar el ratón */
    font-weight: bold;
    color: #d9534f; /* Color del precio */
}
footer {
    background-color: #000000; /* Fondo oscuro para el pie de página */
    color: #ffffff; /* Texto blanco */
    padding: 20px 0; /* Espacio alrededor del texto */
}
footer .list-inline-item a {
    color: #ffffff; /* Color de los enlaces en el pie de página */
    text-decoration: none; /* Sin subrayado */
}
footer .list-inline-item a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}
.navbar, .navbar-dark, .navbar-toggler, .navbar-collapse {
    background-color: #000000; /* Fondo oscuro para la barra de navegación, el botón de toggler y el colapso de la barra de navegación */
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand img {
    margin-right: 10px; /* Espacio entre el logo y el texto */
}
.navbar-title {
    color: #ffffff; /* Color del texto del título */
    font-size: 1.5em; /* Tamaño de fuente del título */
    font-weight: bold; /* Negrita para el título */
}
.navbar-nav .nav-link {
    color: #ffffff; /* Color de los enlaces de navegación */
}
.navbar-nav .nav-link:hover {
    color: #d9534f; /* Color de los enlaces al pasar el ratón */
}